de_cbutton {
	border-radius: 4px;
	background: #444 url(moz-extension://__MSG_@@extension_id__/bestgirl.png) center/28px no-repeat;
	visibility: hidden;
	position: absolute;
	z-index: 2147483647;
	border: 1px solid #777;
	height: 32px;
	width: 32px;
}
de_cbutton:hover {
	background-color: #666;
}
de_cbutton.implying-click,
de_cbutton.click:hover {
	margin: 1px 0 0 1px;
}
de_cbutton.warning {
	box-shadow: inset 0 0 0 3px #F24;
}
de_cbutton.shy:not(:hover) {
	opacity: 0.2;
}