/*td {border: 1px solid #66F;}*/

td:first-child {
	padding: 0 10px;
	height: 25px;
}
input#savePath,
input.path {
	width: 400px;
}
input[type=file] {
	width: 350px;
}
button#save,
button#reset {
	margin: 20px 5px 5px;
	font-size: 1.25em;
}
#iconContainer {
	vertical-align: bottom;
	display: inline-block;
	height: 32px;
	width: 50px;
}
#hidden-settings {
	display: none;
}

#folders {
	margin-bottom: 30px;
}
#folders td:first-child > div {
	display: inline-block;
}
#folders td:first-child > div:last-child {
	float: right;
}
#folders input.key {
	text-transform: uppercase;
}

de_cbutton#iconDisplay {
	visibility: visible !important;
}
