/*td {border: 1px solid #66F;}*/

td:first-child {
	text-align: right;
	padding: 0 10px;
	height: 25px;
}
input#savePath,
input#exclusions,
input.path {
	width: 400px;
}
input[type=file] {
	width: 350px;
}
button#save,
button#reset {
	margin: 20px 5px 5px;
	font-size: 1.25em;
}
#iconContainer {
	vertical-align: bottom;
	display: inline-block;
	height: 32px;
	width: 50px;
}
#hidden-settings {
	display: none;
}

.folder {
	height: 25px;
}
.folder td:first-child {
	vertical-align: middle;
	line-height: 23px;
}
.folder td:first-child span {
	padding-right: 13px;
}
.folder td > div {
	display: inline-block;
}
.folder td > div:last-child {
	float: right;
}
.folder input.key {
	text-transform: uppercase;
}
#addFolderContainer td {
	padding-bottom: 13px;
	text-align: center;
}

de_cbutton#iconDisplay {
	visibility: visible !important;
}
